<div class="well no-padding">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => "form",:id => "login-form",:class => "smart-form client-form" }) do |f| %>
    <header>
      登录
    </header>
    <fieldset>
      <%= render "shared/error_messages", :target => resource %>
      <section>
        <label class="label"><%= t("mongoid.attributes.user.login") %></label>
        <label class="input"> <i class="icon-append fa fa-user"></i>
          <%= f.input_field :login, placeholder: "Name or Email",:required => true %>
          <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
      </section>

      <section>
        <label class="label"><%= t("mongoid.attributes.user.password") %></label>
        <label class="input"> <i class="icon-append fa fa-lock"></i>
          <%= f.input_field :password, :required => true %>
          <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
        <div class="note">
          <%= link_to(t("users.forget_password"), new_password_path(resource_name)) %>
        </div>
      </section>
      <% if devise_mapping.rememberable? -%>
      <section>
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          <i></i><%= t("mongoid.attributes.user.remember_me") %></label>
      </section>
      <% end %>

    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary" id="message_trigger_err">
        <%= t("common.login") %>
      </button>
    </footer>
  <% end %>

</div>

<h5 class="text-center"> - Or sign in using -</h5>

<ul class="list-inline text-center">
  <li>
    <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
  </li>
</ul>