<div id="upload_editor" class="panel panel-success ">
  <div class="panel-heading"><h3 class="panel-title"><%= params[:action]=='edit' ? "修改幻灯片项目信息" : "填写幻灯片项目信息" %></h3>
  </div>
  <div class="panel-body">
    <%= render "shared/error_messages", :target => @slide %>
    <%= simple_form_for @slide do |f| %>
        <%= f.input :attach_id, :as => :hidden %>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">描述</label>
          <%= f.text_area :body, :class => "form-control", :rows => "10", :tabindex => "1" %>
        </div>
        <div class="form-group">
          <label>标签</label>
          <%= f.text_field :tags, :id => "slideTags",:name => "slideTags", :value => params[:action]=='edit' ? @slide.tags.join(",") : "" %>
        </div>
        <br>
        <button type="submit" class="btn btn-success pull-right"><%= params[:action]=='edit' ? "提交修改" : "完成创建" %></button>
        <script type="text/javascript">
            $(function () {
                var sampleTags= <%= raw @slide_tags %>;
                $("#slideTags").tagit({availableTags: sampleTags,singleField: true,singleFieldNode: $('#slideTags')});
            });
        </script>
    <% end %>
  </div>
</div>
