<ul class="nav nav-tabs">
  <li<%= " class=active" if action_name == "index" %>><%= link_to "全部", slides_path %></li>
  <li<%= " class=active" if action_name == "popular" %>><%= link_to raw("<i class='icon small_liked'></i> 流行"), popular_slides_path, class: "popular" %></li>
  <li<%= " class=active" if action_name == "recent" %>><%= link_to "最近上传", recent_slides_path %></li>
</ul>
