<div class="row search-results clearfix">

  <div class="col-sm-3">
    <%= render_cell :slides, :carousel_simple, :attach_id => slide.attach_id %>
  </div>
  <div class="col-sm-6">
    <h4 class="title"><%= link_to(raw("#{slide.title.length >= 41 ? slide.title[0,40] + "..." : slide.title}"), slide_path(slide), :title => slide.title) %></h4>
    <small><%= user_name_tag(slide.user, :link => true) %> 于 <%= timeago(slide.created_at) %> 发布 <% if !slide.last_reply_user_login.blank? %>•
          <%= t("common.last_by")%> <%= user_name_tag(slide.last_reply_user_login, :link => true) %> <%= sanitize t("common.reply_at", :time => timeago(slide.replied_at))%>
      <% end %></small><br>
    <small></small><br><br>
    <%= link_to raw("<i class='fa fa-pencil'></i> 编辑信息"), edit_slide_url(slide.id), class: "btn btn-sm btn-default" if slide.user.id == current_user.id %>
  </div>
  <div class="col-sm-3">
    <ul class="list-unstyled">
    <li><p class="text-muted"><i class="fa fa-comment"></i> <%= slide.replies_count %></p></li>
    <li><p class="text-muted"><i class="fa fa-eye"></i> <%= slide.hits %></p></li>

    <li><p class="text-muted"><i class="fa fa-heart"></i> <%= slide.likes_count %></p></li>

    <li><p class="text-muted"><i class="fa fa-cloud-download"></i> <%= slide.downloads %></p></li>
    </ul>
  </div>
</div>