<div class="slide-item col-md-<% if @slides_col_md.present? %><%= slides_col_md %><% else %>4<% end %> col-sm-6">
	<div class="thumbnail">
		<%= render_cell :slides, :carousel, :attach_id => slide.slide %>
		<div class="caption">
			<h4 class="title"><%= link_to(truncate(slide.title, :length => 100), slide_path(slide), :title => slide.title) %></h4>
			<ul class="list-inline">
				<li><span class="icon-eye-open"></span> <%= slide.hits %></li>
				<li>·</li>
				<li> <span class="icon-heart"></span> <%= slide.likes_count %></li>
				<li>·</li>
				<li><span class="icon-download-alt"></span> <%= slide.downloads %></li>
			</ul>
		</div>
	</div>
</div>
