<div class="container">
  <div class="basic-page-top">
    <h2>
      <%= @slide.title %>
      <span class="pull-right">
        <%= slide_download_tag(@slide) %>
        <%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
      </span>
    </h2>

    <p>
      <strong>用户:</strong>
      <%= user_name_tag(@slide.user) %>
      <%= sanitize t("common.created_at", :time => timeago(@slide.created_at)) %>
      <span class="label label-info">公开项目</span>
      <span class="label label-default"><i class="fa fa-eye"></i> <%= @slide.hits %></span>
      <%= likeable_tag(@slide) %>
    </p>
    <ul class="nav nav-tabs">
      <li><%= link_to raw("<i class='fa fa-video-camera'></i> 幻灯片"), slide_url(@slide) %></li>
      <li class="active"><%= link_to raw("<i class='fa fa-list'></i> 版本管理"), attachs_slide_url(@slide) %></li>
    </ul>
  </div>

  <!-- Begin page content -->
  <div class="basic-page box">
    <ul class="media-list">
      <%= render :partial => "attachs/attach", :collection => @slide.attachs %>
    </ul>
  </div>
</div>
