<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h2>
			<%= @slide.title %>
	  	<span class="pull-right">
				<%= slide_download_tag(@slide) %>
      	<%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
	    </span>
	 	</h2>
	 	<p>
	    <strong>用户:</strong>
			<%= @slide.user.name %>&middot;
	    <strong>上传于:</strong>
			<%= @slide.created_at %>&middot;
			<span class="label label-info">公开项目</span>&middot;
	    <span class="label label-default"><i class="fa fa-eye"></i> <%= @slide.hits %></span>&middot;
			<%= likeable_tag(@slide) %>&middot;
			<%= slide_favorite_tag(@slide) %>
	  </p>
	  <ul class="nav nav-tabs">
			<li><%= link_to raw("<i class='fa fa-video-camera'></i> 幻灯片"), slide_url(@slide) %></li>
			<li class="active"><%= link_to raw("<i class='fa fa-list'></i> 版本管理"), attachs_slide_url(@slide) %></li>
	  </ul>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
		<ul class="media-list">
			<%= render :partial => "attachs/attach", :collection => @slide.attachs %>
    </ul>
	</div>
</div>
