<% content_for :scripts do %>
	<script type="text/javascript"> 
		Slides.replies_per_page = <%= @per_page %>;
		$(document).ready(function(){
		<% if admin? %>
			$("#replies .reply a.edit").css('display','inline-block');
			<% elsif current_user %>
			$("#replies .reply a.edit[data-uid='<%= current_user.id %>']").css('display','inline-block');
		<% end %>
		<% if current_user && !@user_liked_reply_ids.blank? %>
			Slides.checkRepliesLikeStatus([<%= @user_liked_reply_ids.join(",") %>]);
		<% end %>
		})
	</script>
<% end %>
<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h2>
			<%= @slide.title %>
	  	<span class="pull-right">
				<%= slide_download_tag(@slide) %>
      	<%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
	    </span>
	 	</h2>
	 	<p>
	    <strong>用户:</strong>
			<%= @slide.user.name %>&middot;
	    <strong>上传于:</strong>
			<%= @slide.created_at %>&middot;
			<span class="label label-info">公开项目</span>&middot;
	    <span class="label label-default"><i class="icon-eye-open"></i> <%= @slide.hits %></span>&middot;
			<%= likeable_tag(@slide) %>&middot;
			<%= slide_favorite_tag(@slide) %>
	  </p>
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#"><i class="icon-facetime-video"></i> 幻灯片</a></li>
			<li class="active pull-right"><a href="#"><i class="icon-comment"></i> 发表评论</a></li>
			<% if owner?(@slide) or admin? %>
			<li class="pull-right"><a href="#" title="coming soon..."><i class="icon-tasks"></i> Create Task</a></li>
			<% end %>
	  </ul>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="group section-wrap upper" id="upper">
        	<div class="wrap group">
          	<div class="section-2 group">
							<%= render_cell :slides, :carousel, :attach_id => @slide.slide %>
            </div>
          		<!-- /.section-2 -->
         	</div>
        	<!-- /.wrap -->
        </div>
      	<!-- /#upper -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary ">
        	<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-comment"></i> 对幻灯片发表评论</h3>
          </div>
        <div class="panel-body">
     			<div class="row">
          	<div class="col-lg-12">
           		<div class="media">
             		<a class="pull-left" href="#"><%= user_avatar_tag(@slide.user, :big) %></a>
              	<div class="media-body">
									<h4 class="media-heading"><%= @slide.user.name %> <small> 拥有<%= @slide.user.slides.count %>组幻灯片</small></h4>
             			<h5><a href="">查看该上传者其它幻灯片</a></h5>
              		<hr style="margin:8px auto">
              		<span class="label label-primary">所属组织</span>
            		</div>
          		</div>
        		</div>
      		</div>
				<%= form_for(Reply.new, :remote => true,:url => slide_replies_path(@slide), role:"form") do |f| %>
					<div class="form-group">
      			<label for="exampleInputStar">评分</label>
						<div><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></div>
      			</div>
     				<label for="exampleInputEmail1">评论</label>
						<%= f.text_area :body,:class => "form-control", :rows => "5", :tabindex => "1" %>
						<br>
     				<button type="submit" class="btn btn-success">发布!</button>
					<% end %>  
    			</div>
  			</div>
			</div>
		</div>
		<ul id="myTab" class="nav nav-tabs">
  		<li class="active"><a href="#profile" data-toggle="tab">Slide描述</a></li>
  		<li><a href="#history" data-toggle="tab">版本及变更历史</a></li>
			<li><a href="#replies" data-toggle="tab">评论 (<b><%= @slide.replies_count %></b>)</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
  		<div class="tab-pane fade in active" id="profile">
				<%= sanitize_slide @slide.body_html %>
  		</div>
			<div class="tab-pane fade" id="history">
				<!-- TODO seperate tpl -->
				<p><strong>项目创建于</strong><%= @slide.created_at %></p>
			</div>
 			<div class="tab-pane fade" id="replies">
				<div class="items">  
					<%= cache([@slide,params[:page],"raw:#{@show_raw}"]) do %>
						<%= render :partial => "replies/reply", :collection => @replies %>
					<% end %>          
				</div>               
				<%= will_paginate @replies, :inner_window => 2, :params => { :anchor => 'replies' } %> 
  		</div>
		</div>
	</div>
</div>
