<% content_for :scripts do %>
<script type="text/javascript">
Slides.replies_per_page = <%= @per_page %>;
$(document).ready(function () {
  <% if admin? %>
  $("#replies .reply a.edit").css('display', 'inline-block');
  <% elsif current_user %>
  $("#replies .reply a.edit[data-uid='<%= current_user.id %>']").css('display', 'inline-block');
  <% end %>
  <% if current_user && !@user_liked_reply_ids.blank? %>
  Slides.checkRepliesLikeStatus([<%= @user_liked_reply_ids.join(",") %>]);
  <% end %>
})
</script>
<% end %>
<!-- row -->

<div class="row">

  <div class="col-sm-12">
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="padding-top-10">
            <div class="row">
              <div class="col-sm-12">
                  <%= render_cell :slides, :carousel, :attach_id => @slide.attach_id %>
              </div>

              <div class="col-sm-12">
                  <hr>
                  <% if @replies.blank? %>
                      <div class="padding-10">
                        <%= t("slides.no_replies") %>
                      </div>
                  <% else %>
                      <div id="replies" class="padding-10">
                        <div class="total">共收到 <b><%= @slide.replies_count %></b> 条回复</div>
                        <div class="items">
                          <%= cache([@slide, params[:page], "raw:#{@show_raw}"]) do %>
                              <%= render :partial => "replies/reply", :collection => @replies %>
                          <% end %>
                        </div>

                        <div class="pagination">
                          <%= will_paginate @replies, :inner_window => 2, container: false, :params => {:anchor => 'replies'} %>
                        </div>
                      </div>
                  <% end %>
                  <!-- /#发表评论-->
                  <div>
                    <% if current_user %>
                    <%= form_for(Reply.new, :remote => true, :url => slide_replies_path(@slide), role: "form") do |f| %>
                        <div class="form-group">
                          <%= f.text_area :body, :class => "form-control", :rows => "5", :tabindex => "1" %>
                        </div>

                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-comments-o"></i>&nbsp;发布评论</button>
                    <% end %>
                    <% else %>
                        <%= render :partial => "slides/translation/need_login_to_reply" %>
                    <% end %>
                  </div>
              </div>
            </div>
            <!-- end row -->

          </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">

          <div class="row">

            <div class="col-sm-12">

              <div class="padding-10">
                <!-- start row -->
                <div class="row">

                  <div class="chat-body no-padding profile-message no-border">
                    <!-- start well -->
                    <div class="well">
                    <ul>
                      <li class="message">
                        <%= user_avatar_tag(@slide.user, :normal, :link => true) %>
                        <span class="message-text">
                          <h5 class="no-margin">&nbsp;<%= user_name_tag(@slide.user, :link => true) %> <small>于 <%= timeago(@slide.created_at) %> 发布</small></h5>
                          <ul class="list-inline">
                            <li><p class="text-muted"></i> <%= @slide.user.slides_count %> 组幻灯片</p></li>
                            <li><p class="text-muted"><%= @slide.user.follower_ids.count %> 关注</p></li>
                            <li><p class="text-muted"><%= @slide.user.followed_ids.count %> 粉丝</p></li>
                          </ul>

                        </span>
                        <% if @slide.excellent? %>
                            <span class="pull-right">
                              <p><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" data-original-title="此幻灯片已被设为推荐"><i class="fa fa-thumbs-up fa-2x"></i></a></p>
                            </span>
                        <% end %>
                      </li>
                    </ul>
                    <div class="padding-10">
                    <!-- /#to do 样式待优化 -->
                    <ul class="list-unstyled padding-10">
                      <li><p>文件类型：<%= case @attach.file_type
                                                             when "application/pdf"
                                                               "PDF"
                                                             else
                                                               "PowerPoint"
                                                           end %></p></li>
                      <li><p>共享方式：<%= @slide.private ? "隐私" : "完全公开" %></p></li>
                      <li><p>文件大小：<%= number_to_human_size(@attach.file_size) %></p></li>
                      <li><p>阅读人数：<%= @slide.hits %></p></li>
                      <li><p>收藏人数：<span id="slide_fav_count"><%= @slide.favourite_count %></span></p></li>
                      <li><p>下载人数：<%= @slide.downloads %></p></li>
                    </ul>
                    <!-- /#幻灯片描述-->
                    <div class="padding-10">
                      <h6>幻灯片描述：</h6>
                      <%= sanitize_slide @slide.body_html %>
                    </div>
                    <!-- /#幻灯片标签-->
                    <div class="padding-10">
                        <h6>标签：</h6>
                        <% @slide.tags.each do |tag| %>
                            <span class="label label-default"><%= tag %></span>
                        <% end %>
                    </div>
                    <!-- /#分享，修改，喜欢，下载-->
                    <div class="padding-10">
                        <h6>分享：</h6>
                        <%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
                      <br>
                      <% if owner?(@slide) or admin? %>
                          <%= link_to raw("<i class='fa fa-pencil'></i> 修改项目信息"), edit_slide_url(@slide.id), class: "btn btn-sm btn-default" %>
                      <% end %>
                      <%= slide_favorite_tag(@slide) %>

                      <%= slide_download_tag(@slide) %>
                    </div>
                    <!-- /#管理员按钮-->
                    <div class="padding-10">
                      <% if @slide.excellent? %>
                          <% if admin? %>
                              <%= link_to raw("<i class='fa fa-thumbs-down'></i> 取消精华"), unsuggest_slide_path(@slide.id), method: "delete", class: "btn btn-sm btn-warning" %>
                          <% end %>
                      <% end %>

                      <% if admin? and !@slide.excellent? %>
                          <%= link_to raw("<i class='fa fa-thumbs-up'></i> 加精"), suggest_slide_path(@slide.id), title: "设为精华",class: "btn btn-sm btn-default", method: "patch", data: {confirm: "确定要设置成精华么？"} %>
                      <% end %>
                    </div>
                    </div>

                    </div>
                    <!-- end well -->
                  </div>
                  <!-- /#幻灯片推荐 -->
                  <% if @slides_releated.present? %>
                      <div class="well">
                        <h6>相关幻灯片推荐</h6>
                      <%= render :partial => "slides/slide", :collection => @slides_releated, :as => :slide %>
                      </div>
                  <% end %>
                </div>
                <!-- end row -->
              </div>

              </div>

            </div>

          </div>

      </div>

    </div>


  </div>


<!-- end row -->