<% content_for :scripts do %>
	<script type="text/javascript"> 
		Slides.replies_per_page = <%= @per_page %>;
		$(document).ready(function(){
		<% if admin? %>
			$("#replies .reply a.edit").css('display','inline-block');
			<% elsif current_user %>
			$("#replies .reply a.edit[data-uid='<%= current_user.id %>']").css('display','inline-block');
		<% end %>
		<% if current_user && !@user_liked_reply_ids.blank? %>
			Slides.checkRepliesLikeStatus([<%= @user_liked_reply_ids.join(",") %>]);
		<% end %>
		})
	</script>
<% end %>
<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h2>
			<%= @slide.title %>
	  	<span class="pull-right">
			<% if owner?(@slide) or admin? %>
				<%= link_to raw("<i class='icon-edit'></i> 修改项目信息"), edit_slide_url(@slide.id), class:"btn btn-large btn-default" %>
			<% end %>
				<%= slide_download_tag(@slide) %>
      	<%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
	    </span>
	 	</h2>
	 	<p>
	    <strong>用户:</strong>
          <%= user_name_tag(@slide.user) %>
	    <strong>上传于:</strong>
			<%= @slide.created_at %>
			<span class="label label-info">公开项目</span>
	    <span class="label label-default"><i class="icon-eye-open"></i> <%= @slide.hits %></span>
			<%= likeable_tag(@slide) %><%= slide_favorite_tag(@slide) %>
	  </p>
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#"><i class="icon-facetime-video"></i> 幻灯片</a></li>
			<% if owner?(@slide) or admin? %>
			<li><%= link_to raw("<i class='icon-list'></i> 版本管理"), attachs_slide_url(@slide) %></li>
			<% end %>
			<li class="active pull-right"><a href="#"><i class="icon-comment"></i> 发表评论</a></li>
	  </ul>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="group section-wrap upper" id="upper">
        	<div class="wrap group">
          	<div class="section-2 group">
							<%= render_cell :slides, :carousel, :attach_id => @slide.slide %>
            </div>
          		<!-- /.section-2 -->
         	</div>
        	<!-- /.wrap -->
        </div>
      	<!-- /#upper -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary ">
        	<div class="panel-heading">
		<h3 class="panel-title"><i class="icon-comment"></i> 对幻灯片发表评论</h3>
          	</div>
        <div class="panel-body">
				<%= form_for(Reply.new, :remote => true,:url => attach_replies_path(@in_attach), role:"form") do |f| %>
					<div class="form-group">
      			<label for="exampleInputStar">评分</label>
						<div><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></div>
      			</div>
     				<label for="exampleInputEmail1">评论</label>
						<%= f.text_area :body,:class => "form-control", :rows => "5", :tabindex => "1" %>
						<br>
     				<button type="submit" class="btn btn-success">发布!</button>
					<% end %>  
    			</div>
  			</div>
			</div>
		</div>
		<ul id="myTab" class="nav nav-tabs">
  		<li class="active"><a href="#profile" data-toggle="tab">幻灯片描述</a></li>
			<li><a href="#replies" data-toggle="tab">评论 (<b><%= @in_attach.replies_count %></b>)</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
  		<div class="tab-pane fade in active" id="profile">
				<%= sanitize_slide @slide.body_html %>
  		</div>
			<div class="tab-pane fade" id="replies">
              <% if @replies.blank? %>
                  <div class="no_result">
                    <%= t("topics.no_replies") %>
                  </div>
              <% else %>
				<div class="items">  
					<%= cache([@slide,params[:page],"raw:#{@show_raw}"]) do %>
						<%= render :partial => "replies/reply", :collection => @replies %>
					<% end %>          
				</div>               
				<%= will_paginate @replies, :inner_window => 2, :params => { :anchor => 'replies' } %>
              <% end %>
  		</div>
		</div>
	</div>
</div>
