<% content_for :scripts do %>
	<script type="text/javascript"> 
		Slides.replies_per_page = <%= @per_page %>;
		$(document).ready(function(){
		<% if admin? %>
			$("#replies .reply a.edit").css('display','inline-block');
			<% elsif current_user %>
			$("#replies .reply a.edit[data-uid='<%= current_user.id %>']").css('display','inline-block');
		<% end %>
		<% if current_user && !@user_liked_reply_ids.blank? %>
			Slides.checkRepliesLikeStatus([<%= @user_liked_reply_ids.join(",") %>]);
		<% end %>
		})
	</script>
<% end %>
<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h2>
			<%= @slide.title %>
	  	<span class="pull-right">
			<% if owner?(@slide) or admin? %>
				<%= link_to raw("<i class='fa fa-edit'></i> 修改项目信息"), edit_slide_url(@slide.id), class:"btn btn-large btn-default" %>
			<% end %>
			<%= slide_download_tag(@slide) %>
	    </span>
	 	</h2>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="group section-wrap upper" id="upper">
        	<div class="wrap group">
          	<div class="section-2 group">
				<%= render_cell :slides, :carousel, :attach_id => @slide.slide %>
            </div>
          		<!-- /.section-2 -->
         	</div>
        	<!-- /.wrap -->
        </div>
      	<!-- /#upper -->
      </div>
      <div class="col-md-4">
        <div class="panel">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-5 control-label">作者：</label>

               <p class="form-control-static pull-left"><%= user_name_tag(@slide.user) %></p>

            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">上传时间：</label>

                <p class="form-control-static"><%= sanitize t("common.created_at", :time => timeago(@slide.created_at))%></p>

            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">文件类型：</label>

                <p class="form-control-static"><%= case @attach.file_type
                                                     when "application/vnd.ms-powerpoint"
                                                       "PowerPoint"
                                                     when "application/pdf"
                                                       "PDF"
                                                     when "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                                       "KeyNote"
                                                    end %></p>

            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">共享方式：</label>

                <p class="form-control-static"><%= @slide.private ? "隐私":"完全公开" %></p>

            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">阅读人数：</label>

                <p class="form-control-static"><%= @slide.hits %></p>

            </div>
            
            <div class="form-group">
              <label class="col-sm-5 control-label">喜欢人数：</label>

                <%= likeable_tag(@slide) %>

            </div>
            <div class="form-group">
              <label class="col-sm-8 control-label"><%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %></label>

            </div>

          </form>
  		</div>
	  </div>
	</div>


    <div class="tab-pane in active" id="profile">
            <%= sanitize_slide @slide.body_html %>
    </div>

      <hr>
      <div class="tab-pane in active">

        <% if @replies.blank? %>
            <div class="no_result">
              <%= t("slides.no_replies") %>
            </div>
        <% else %>
            <div id="replies" class="box box_gray">
              <div class="total">
                共收到 <b><%= @slide.replies_count %></b> 条回复
              </div>
              <div class="items">
                <%= cache([@slide,params[:page],"raw:#{@show_raw}"]) do %>
                    <%= render :partial => "replies/reply", :collection => @replies %>
                <% end %>
              </div>
              <%= will_paginate @replies, :inner_window => 2, :params => { :anchor => 'replies' } %>
            </div>
        <% end %>

      <hr>
      <div class="panel-body">
        <%= form_for(Reply.new, :remote => true,:url => slide_replies_path(@slide), role:"form") do |f| %>
            <div class="form-group">
            <%= f.text_area :body,:class => "form-control", :rows => "5", :tabindex => "1" %>
             </div>
            <br>
            <button type="submit" class="btn btn-success pull-right"><i class="fa fa-comments-o"></i>&nbsp;发布评论</button>
        <% end %>
      </div>

      </div>

	</div>
</div>