<div class="row">
		<div class="col-xs-12">
			<h1 class="page-title txt-color-blueDark">
				<i class="icon-file"></i> 
				My Slides	
				<span>&gt; 
			 	<%= @slide.title %> 
				</span>
			</h1>
		</div>
	</div>

<%= content_for :styles do %>
  <% if !@slide.user.blank? and !@slide.user.google_profile_url.blank? %>
    <link rel="author" content="<%= @slide.user.google_profile_url %>" />
  <% end %>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript">
    Slides.replies_per_page = <%= @per_page %>;
    $(document).ready(function(){
      <% if admin? %>
        $("#replies .reply a.edit").css('display','inline-block');
      <% elsif current_user %>
        $("#replies .reply a.edit[data-uid='<%= current_user.id %>']").css('display','inline-block');
      <% end %>
      <% if current_user && !@user_liked_reply_ids.blank? %>
        Slides.checkRepliesLikeStatus([<%= @user_liked_reply_ids.join(",") %>]);
      <% end %>
    })
  </script>
<% end %>

<div class="row">
  <div id="slide_show" class="col-xs-12 slides hfeed">
    <div class="slide hentry well">
			<div class="row">
				<div class="col-xs-9">
					<%= render :partial => "slides/slide_info", :locals => { :slide => @slide} %> 
					<div class="body entry-content">
        		<%= sanitize_slide @slide.body_html %>
						<%= render_cell :slides, :carousel, :attach_id => @slide.slide %>
      		</div>

				</div>
				<div class="col-xs-3">	
					<ul class="common-hits">
						<%= slide_download_tag(@slide) %>
						<%= likeable_tag(@slide) %>
						<%= slide_favorite_tag(@slide) %>
						<li>
      				<%= social_share_button_tag h("#{@slide.title} via: @#{Setting.twitter_id} ") %>
						</li>
					</ul>
				</div>
    	</div>
      
			</div>	
	<div>
</div>
