<%
  case notification.mentionable
  when Reply
%>
  <%
    reply = notification.mentionable
    slide = reply.slide
  %>
  <td class="face">
    <%= user_avatar_tag(reply.user, :normal) %>
  </td>
  <td>
    <h3>
      <span class="user">
        <%= user_name_tag(reply.user) %>
      </span>
      在
      <%= slide_title_tag(slide) %>
      提及你：
      <% if !notification.read? %>
        <span class="new label label-warning">新</span>
      <% end %>
    </h3>
    <%- if reply.present? -%>
      <div class="body md_body">
        <%= sanitize_reply reply.body_html %>
      </div>
    <%- end -%>
  </td>
<% when Slide %>
  <%
    slide = notification.mentionable
  %>
  <td class="face">
    <%= user_avatar_tag(slide.user, :normal) %>
  </td>
  <td>
    <h3>
      <span class="user">
        <%= user_name_tag(slide.user) %>
      </span>
      在
      <%= slide_title_tag(slide) %>
      提及你：
      <% if !notification.read? %>
        <span class="new label warning">新</span>
      <% end %>
    </h3>
    <%- if slide.present? -%>
      <div class="body md_body">
        <%= sanitize_slide slide.body_html %>
      </div>
    <%- end -%>
  </td>
<% end %>
