<%= render 'base' %>
<% content_for :sitemap do %>
    <span class="current">城市</span>
<% end %>
<div id="cpanel_locations">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>编号</td>
      <td><%= t("mongoid.attributes.location.name") %></td>
      <td><%= t("mongoid.attributes.location.users_count") %></td>
      <td class="opts"></td>
    </tr>
    <% @locations.each do |item| %>
        <tr class="<%= cycle("", "even") %>">
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.users_count %></td>
          <td>
            <%= link_to "修改", edit_cpanel_location_path(item.id), :class => "btn btn-sm btn-primary" %>
            <%= link_to "删除", cpanel_location_path(item.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "btn btn-sm btn-danger" %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @locations %>
</div>
