<div class="listing-page">
<div class="container">
	<div id="notifications" class="panel 
		<%= if @notifications.blank? 
					'panel-default'
				else
					'panel-warning'
				end %> "> 
		<div class="panel-heading">
			<h3 class="panel-title">通知提醒 <small style="font-size:12px;margin-left:5px;">(<%= @notifications.total_entries %> 条)</small></h3>
		</div>
		<div class="panel-body">
      <% if @notifications.blank? %>
    <div class="no_result" style="padding:80px 0;">暂无通知</div>
  <% else %>
    	<table class="table">
      	<tbody>
        	<%= render :partial => "notification", :collection => @notifications %>
     	 	</tbody>
			</table>
			<%= link_to t("common.clear"), clear_notifications_path, :class => 'btn btn-danger', :method => :post, 'data-disable-with' => '清空中...' %>
  <% end %>
  <%= will_paginate @notifications %>
		</div>
	</div>
</div>
</div>
