<div class="panel panel-primary">
<div class="panel-body">
  <table>
    <tr>
      <td><div class="pull-right"><%= user_avatar_tag(@user,:big, :link => false) %></div></td>
      <td>&nbsp;</td>
      <td style="vertical-align: top;">
        <div style="padding-bottom: 5px;"><%= render_user_level_tag(@user) %></div>
        <div style="padding-bottom: 5px;">第 <%= @user.id %> 位<%= t("menu.users")%></div>
        <% if admin? %>
            <%= link_to "后台修改", edit_cpanel_user_path(@user), class: 'btn btn-mini' %>
        <% end %>
        <%= user_follow_tag(@user) %>

      </td>
    </tr>
   </table>
  <table class="userinfo vcard">
    <tr>
        <td><label>ID:</label></td>
        <td><strong class="fn"><%= @user.login %></strong></td>
    </tr>

      <% if !@user.name.blank? %>
        <tr>
          <td><label>Name:</label></td>
          <td><strong><%= @user.name %></strong></td>
        </tr>
      <% end %>

      <% if !@user.location.blank? %>
        <tr class="adr">
          <td><label><%= t("users.city")%>:</label></td>
          <td><span class="region"><%= location_name_tag(@user.location) %></span></td>
        </tr>
      <% end %>

      <% if !@user.company.blank? %>
        <tr class="adr">
          <td><label><%= t("users.company")%>:</label></td>
          <td><span class="org"><%= @user.company %></span></td>
        </tr>
      <% end %>

      <% if !@user.email.blank? && @user.email_public %>
      <tr>
        <td><label>Email:</label></td>
        <td><span><%= auto_link @user.email %></span></td>
      </tr>
      <% end %>

      <% if !@user.twitter.blank? %>
        <tr>
          <td><label><%= t("users.twitter")%>:</label></td>
          <td><span><%= link_to "@#{@user.twitter}", @user.twitter_url, :class => "twitter", :rel => "nofollow" %></span></td>
        </tr>
      <% end %>

      <% if !@user.website.blank? %>
        <tr>
          <td><label><%= t("users.personal_website")%>:</label></td>
          <td><span><%= render_user_personal_website(@user)%></span></td>
        </tr>
      <% end %>

      <% if !@user.tagline.blank? %>
        <tr>
          <td><label><%= t("users.signature")%>:</label></td>
          <td><span><%= render_user_tagline(@user) %></span></td>
        </tr>
      <% end %>

      <tr>
        <td><label><%= t("users.join_time")%>:</label></td>
        <td><span><%= render_user_join_time(@user) %></span></td>
      </tr>
  </table>

</div>
</div>

<% if !@user.bio.blank? %>
  <div class="box">
    <p><%= simple_format(@user.bio) %></p>
  </div>
<% end %>
