<div class="panel panel-primary">
<div class="panel-body">
  <table>
    <tr>
      <td><div class="pull-right"><%= user_avatar_tag(@user,:big, :link => false) %></div></td>
      <td>&nbsp;</td>
      <td style="vertical-align: top;">
        <div style="padding-bottom: 5px;"><%= render_user_level_tag(@user) %></div>
        <div style="padding-bottom: 5px;">第 <%= @user.id %> 位<%= t("menu.users")%></div>
        <% if admin? %>
            <%= link_to "后台修改", edit_cpanel_user_path(@user), class: 'btn btn-mini' %>
        <% end %>
        <%= user_follow_tag(@user) %>

      </td>
    </tr>
   </table>
  <table class="userinfo vcard">
    <tr>
        <td><label>ID:</label></td>
        <td><strong class="fn"><%= @user.login %></strong></td>
    </tr>

      <% if !@user.name.blank? %>
        <tr>
          <td><label><%= t("mongoid.attributes.user.name") %>:</label></td>
          <td><strong><%= @user.name %></strong></td>
        </tr>
      <% end %>

      <% if !@user.email.blank? && @user.email_public %>
      <tr>
        <td><label><%= t("mongoid.attributes.user.email") %>:</label></td>
        <td><span style="word-break:break-all;overflow:auto;"><%= auto_link @user.email %></span></td>
      </tr>
      <% end %>

  </table>

</div>
</div>
