<% slides.each do |slide| %>
<div class="item col-xs-4">
<div class="well">
	<h3><%= link_to(truncate(slide.title, :length => 100), slide_path(slide), :title => slide.title) %></h3>
	<%= image_tag slide.slide, :style => "width: 100%" %>
	<div class="meta">
		<span><i class="icon-user"></i> <%= slide.user.name %></span>
		<span class="pull-right"><i class="icon-download-alt"></i><%#= link_to content_tag(:i, "", :class => 'icon-download'), download_slide_path(slide.id), method: 'post' %> <%= slide.downloads %></span>
		<span class="pull-right"><i class="icon-star"></i> 0<%#= slide.hits %></span>
		<span class="pull-right"><i class="icon-eye-open"></i> <%= slide.hits %></span>
	</div>
</div>
</div>
<% end %>
