<!-- row -->

<div class="row">

<div class="col-sm-12">


<div class="well well-sm">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-6">

  <%= render partial: 'info' %>

</div>
<div class="col-sm-12 col-md-12 col-lg-6">

  <div class="row">

    <div class="col-sm-12">

      <div class="padding-10">

        <ul class="nav nav-tabs tabs-pull-right">
          <li class="<%= "active" if action_name == "show" %>">
            <a href="<%= user_path %>">最近的幻灯片</a>
          </li>
          <li class="<%= "active" if action_name == "favorite_slides" %>">
            <a href="<%= favorite_slides_user_path %>">收藏的幻灯片</a>
          </li>
          <li class="pull-left">
            <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
          </li>
        </ul>

        <div class="tab-content padding-top-10">
          <div class="tab-pane fade in active" id="a1">

            <div class="row">
              <%= render :partial => "slides/slide_list_1", :collection => @slides, :as => :slide %>
              <div class="text-center">
                <div class="pagination">
                  <%= will_paginate @slides, :inner_window => 2, container: false %>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="a2">
            收藏的ppt
          </div>
          <!-- end tab -->
        </div>

      </div>

    </div>

  </div>
</div>
</div>

</div>


</div>

</div>

<!-- end row -->