<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
            <header role="heading">
                <span class="widget-icon"> <i class="fa fa-rss text-success"></i>
                </span>
                <h2>Activity</h2>
                  <ul id="myTab3" class="nav nav-tabs pull-right in">
                  	<li class="pull-right <%= "active" if action_name == "index" %>">
                      <a href="<%= root_path %>">重要动态</a>
                    </li>
                    <li class="pull-right <%= "active" if action_name == "follow_a" %>">
                      <a href="<%= home_follow_a_path %>">全部动态</a>
                    </li>
                    <li class="pull-right <%= "active" if action_name == "releated_a" %>">
                      <a href="<%= home_releated_a_path %>">我的动态</a>
                    </li>
                  </ul>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i>
                </span>
            </header>

            <!-- widget div-->
            <div class="no-padding" role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">


                    <div id="myTabContent3" class="tab-content padding-10">

                        <div class="tab-pane fade in active" id="l3">
                        <%= render_activities(@activities, layout: :activity_wrapper) %>
                        <div class="text-center">
                          <div class="pagination">
                            <%= will_paginate @activities, :inner_window => 2, container: false %>
                          </div>
                        </div>
                        </div>
                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- WIDGET END -->

    <article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">

	<div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
		<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		data-widget-colorbutton="false"
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true"
		data-widget-sortable="false"

		-->
		<header role="heading">
			<h2>今日推荐</h2>

		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

		<!-- widget div-->
		<div role="content">

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->

			<!-- widget content -->
			<div class="widget-body">

				<div class="tabs-right">
					<div class="tab-content">
                      <%= render :partial => "slides/slide", :collection => @slides_suggest %>
					</div>
				</div>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->
				
	</div>

	<div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
		<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		data-widget-colorbutton="false"
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true"
		data-widget-sortable="false"

		-->
		<header role="heading">
			<h2>滚动小贴士</h2>

		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

		<!-- widget div-->
		<div role="content">

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->

			<!-- widget content -->
			<div class="widget-body">

				<div class="tabs-right">
					<div class="tab-content">
					</div>
				</div>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->
				
	</div>

	</article>

</div>
