<div class="listing-page">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-wrench"></i> <%= t("users.personal_information")%></h3>
					</div>
					<div class="panel-body">
						<div class="row">
          		<div class="col-lg-12">
           			<div class="media">
             			<a class="pull-left" href="#"><%= user_avatar_tag(@user, :big) %></a>
              		<div class="media-body">
										<h4 class="media-heading"><%= @user.name %> <small> 拥有<%= @user.slides.count %>组幻灯片</small></h4>
										<h5><%= @user.tagline %></h5>
              			<hr style="margin:8px auto">
              			<span class="label label-primary">所属组织</span>
            			</div>
          			</div>
        			</div>
      			</div>

					<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :enctype =>  "multipart/form-data" }) do |f| %>
      			<%= render "shared/error_messages", :target => resource if params[:by].blank? %>
						<div class="form-group">
							<%= f.label :name %>
        			<%= f.input_field :name, class:'form-control' %>
						</div>
						<div class="form-group">
							<%= f.label :avatar %>
        			<%= f.input_field :avatar, class:'form-control' %>
						</div>
						<div class="form-group">
							<%= f.label :email %>
							<%= f.input_field :email, :disabled => (!resource.email.blank?), class:'form-control' %>
						</div>
						<div class="checkbox">
							<label><%= f.check_box :email_public, :style => "width:auto;" %>公开 Email</label>
						</div>
						<div class="form-group">
							<%= f.label :location %>
							<%= f.input_field :location, class:'form-control' %>
						</div>
						<div class="form-group">
							<%= f.label :company %>
							<%= f.input_field :company, class:'form-control' %>
						</div>
						<div class="form-group"> 
							<%= f.label :tagline %>
							<%= f.input_field :tagline, class:'form-control' %>
						</div>
						<%= f.label :bio %>
						<%= f.text_area :bio, :class=>'form-control', row:"5" %>
						<br>
      			<%= f.submit "更新资料", :class => "btn btn-success", 'data-disable-with' => t("common.saving") %>
    			<% end %>
  				</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-edit"></i> <%= t("users.edit_password")%></h3>
					</div>
					<div class="panel-body">
					<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name,:by => :pwd), :html => { :method => :put }) do |f| %>
      			<%= render "shared/error_messages", :target => resource if params[:by] == "pwd" %>
						<div class="form-group">
							<%= f.label :current_password %>
							<%= f.input_field :current_password, class:"form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :password %>
							<%= f.input_field :password, class:"form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :password_confirmation %>
							<%= f.input_field :password_confirmation, class:"form-control" %>
						</div>
         		<%= f.submit "修改密码", :class => "btn btn-warning", 'data-disable-with' => t("common.saving") %>
    			<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-key"></i> 密钥</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<textarea id="private_token" readonly="readonly" class="form-control"><%= @user.private_token %></textarea>
						</div>
    				<div>
        			<a href="#" class="btn btn-default" id="update_private_token">更换一个</a> <span class="help-inline">用于三方应用验证</span>
      			</div>
					</div>
				</div>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-trash-o"></i> <%= t("users.delete_my_account")%></h3>
					</div>
					<div class="panel-body">
						<p><%= t("users.dont_like_it")%> <%= link_to(t("users.delete_this_account"), registration_path(resource_name), 'data-confirm' => "删除后无法恢复，你确定吗?", :class => "btn btn-danger", :method => :delete )%></p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#update_private_token").click(function(){
        $.post("<%= update_private_token_account_path %>",function(re){
          $("#private_token").val(re);
        });
        return false;
      })
    });
  </script>
<% end %>
