<div class="row">
    <div class="col-sm-12">

      <div class="padding-10">

        <ul class="nav nav-tabs tabs-pull-right">
          <li class="pull-left">
            <span class="margin-top-10 display-inline">
              <%= link_to(t("users.delete_this_account"), registration_path(resource_name), 'data-confirm' => "删除后无法恢复，你确定吗?", :class => "deletebutton btn btn-danger", :method => :delete) %>
            </span>
          </li>
          <li>
            <a href="#a3" data-toggle="tab">API Key</a>
          </li>
          <li class="<%= "active" if params[:by] == "pwd" %>">
            <a href="#a2" data-toggle="tab">修改密码</a>
          </li>
          <li class="<%= "active" if params[:by] != "pwd" %>">
            <a href="#a1" data-toggle="tab">个人信息</a>
          </li>

        </ul>

        <div class="tab-content padding-top-10">
          <!-- start information tab -->
          <div class="tab-pane fade <%= "in active" if params[:by] != "pwd" %>" id="a1">
            <div class="well no-padding">
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put,:class => "smart-form", :enctype => "multipart/form-data"}) do |f| %>

                  <fieldset>
                    <%= render "shared/error_messages", :target => resource if params[:by].blank? %>
                    <div class="row">
                      <section class="col col-6">
                        <%= f.label :name, class: 'label' %>
                        <label class="input"><i class="icon-prepend fa fa-user"></i>
                          <%= f.input_field :name %>
                          <b class="tooltip tooltip-top-left"><i class="fa fa-user txt-color-teal"></i> 请输入您的真实姓名</b>
                        </label>
                      </section>
                      <section class="col col-6">
                        <%= f.label :email, class: 'label' %>
                        <label class="input">
                          <i class="icon-prepend fa fa-envelope-o"></i>
                          <%= f.input_field :email, :disabled => (!resource.email.blank?) %>
                        </label>
                      </section>
                    </div>

                  <div class="row">
                    <section class="col col-6">
                      <%= f.label :avatar, class: 'label' %>
                      <div class="input input-file">
                        <%= f.input_field :avatar %>
                      </div>
                    </section>
                    <section class="col col-6">
                      <label class="label">&nbsp;</label>
                      <label class="checkbox">
                        <%= f.check_box :email_public, :style => "width:auto;" %><i></i>公开 Email
                      </label>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <%= f.label :location, class: 'label' %>
                      <label class="input">
                        <i class="icon-prepend fa fa-home"></i>
                        <%= f.input_field :location %>
                        <b class="tooltip tooltip-top-left"><i class="fa fa-home txt-color-teal"></i> 请输入您所在城市</b>
                      </label>
                    </section>
                    <section class="col col-6">
                      <%= f.label :company, class: 'label' %>
                      <label class="input">
                        <i class="icon-prepend fa fa-briefcase"></i>
                        <%= f.input_field :company %>
                        <b class="tooltip tooltip-top-left"><i class="fa fa-briefcase txt-color-teal"></i> 请输入您所在公司</b>
                      </label>
                    </section>
                  </div>


                  <section>
                    <%= f.label :tagline, class: 'label' %>
                    <label class="input">
                      <i class="icon-prepend fa fa-tag"></i>
                      <%= f.input_field :tagline %>
                      <b class="tooltip tooltip-top-left"><i class="fa fa-tag txt-color-teal"></i> 请输入您的签名</b>
                    </label>
                  </section>
                  <section>
                    <%= f.label :bio, class: 'label' %>
                    <label class="textarea">
                      <i class="icon-prepend fa fa-comment"></i>
                      <%= f.text_area :bio, rows: "5", placeholder: "说说你自己吧" %>
                    </label>
                  </section>
                  </fieldset>
                  <footer>
                  <%= f.submit "更新资料", :class => "btn btn-success  pull-right", 'data-disable-with' => t("common.saving") %>
                  </footer>
              <% end %>
            </div>
          </div>
          <!-- end information tab -->
          <!-- start password tab -->
          <div class="tab-pane fade <%= "in active" if params[:by] == "pwd" %>" id="a2">
            <div class="well no-padding">
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, :by => :pwd), :html => {:method => :put, :class => "smart-form"}) do |f| %>

                  <fieldset>
                    <%= render "shared/error_messages", :target => resource if params[:by] == "pwd" %>
                    <section>
                      <%= f.label :current_password, class: 'label' %>
                      <label class="input">
                        <i class="icon-prepend fa fa-lock"></i>
                        <%= f.input_field :current_password, class: "form-control" %>
                        <b class="tooltip tooltip-top-left"><i class="fa fa-lock txt-color-teal"></i> 请输入您的当前密码</b>
                      </label>
                    </section>
                    <section>
                      <%= f.label :password, class: 'label' %>
                      <label class="input">
                        <i class="icon-prepend fa fa-lock"></i>
                        <%= f.input_field :password, class: "form-control" %>
                        <b class="tooltip tooltip-top-left"><i class="fa fa-lock txt-color-teal"></i> 请输入您的新密码</b>
                      </label>
                    </section>
                    <section>
                      <%= f.label :password_confirmation, class: 'label' %>
                      <label class="input">
                        <i class="icon-prepend fa fa-lock"></i>
                        <%= f.input_field :password_confirmation, class: "form-control" %>
                        <b class="tooltip tooltip-top-left"><i class="fa fa-lock txt-color-teal"></i> 请再次输入您的新密码</b>
                      </label>
                    </section>
                  </fieldset>
                  <footer>
                    <%= f.submit "修改密码", :class => "btn btn-warning", 'data-disable-with' => t("common.saving") %>
                  </footer>
              <% end %>
            </div>
          </div>
          <!-- end password tab -->
          <!-- start api tab -->
          <div class="tab-pane fade" id="a3">
            <div class="well no-padding">
              <form class="smart-form" novalidate="novalidate">
              <fieldset>
                <section>
                  <label class="textarea">
                  <textarea id="private_token" readonly="readonly" class="form-control"><%= @user.private_token %></textarea>
                  <label class="label pull-right">用于三方应用验证</label>
                  </label>
                </section>
              </fieldset>
              <footer>
                <a href="#" class="btn btn-default btn-primary" id="update_private_token">更换一个</a>
              </footer>
              </form>
            </div>
          </div>
          <!-- end api tab -->
        </div>

      </div>

    </div>
</div>
<!--删除账户JS-->
<% content_for :scripts do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#update_private_token").click(function () {
                $.post("<%= update_private_token_account_path %>", function (re) {
                    $("#private_token").val(re);
                });
                return false;
            })
        });
    </script>
<% end %>

