<div class="well no-padding">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:role => "form", :id => "smart-form-register", :class => "smart-form client-form"}) do |f| %>
    <header>
      <%= t("common.register") %>
    </header>
    <%= render "shared/error_messages", :target => resource %>
    <fieldset>
      <section>
        <label class="input"> <i class="icon-append fa fa-user"></i>
          <%= f.input_field :login, :class => 'form-control', placeholder: "Username", :required => true %>
          <b class="tooltip tooltip-bottom-right">请输入您的用户名</b> </label>
      </section>

      <section>
        <label class="input"> <i class="icon-append fa fa-envelope"></i>
          <%= f.input_field :email, :class => 'form-control', placeholder: "Email address", :required => true %>
          <b class="tooltip tooltip-bottom-right">需要填写常用邮箱，以方便收到通知</b> </label>
      </section>

      <section>
        <label class="checkbox">
          <%= f.check_box :email_public, :checked => true %><i></i><%= t('mongoid.attributes.user.email_public') %>
        </label>
      </section>

      <section>
        <label class="input"> <i class="icon-append fa fa-lock"></i>
          <%= f.input_field :password, :type => "password", placeholder: "Password", :required => true %>
          <b class="tooltip tooltip-bottom-right">请输入一个自己容易记忆，别人难以猜测的密码</b> </label>
      </section>

      <section>
        <label class="input"> <i class="icon-append fa fa-lock"></i>
          <%= f.input_field :password_confirmation, :type => "password", placeholder: "Confirm password", :required => true %>
          <b class="tooltip tooltip-bottom-right">再次输入密码</b> </label>
      </section>
    </fieldset>

    <fieldset>
      <section>
        <label class="checkbox">
          <input type="checkbox" name="subscription" id="subscription">
          <i></i>我希望订阅热门邮件，以及系统通知。</label>
        <label class="checkbox">
          <input type="checkbox" name="terms" id="terms" required="true">
          <i></i>我同意<a href="#" data-toggle="modal" data-target="#myModal">注册条款</a></label>
      </section>
    </fieldset>
    <footer>
      <div class="pull-left">
      <a href="<%= new_user_session_path %>" class="btn btn-default">登录</a>
      </div>
      <button type="submit" class="btn btn-primary">
        <%= t("common.register") %>
      </button>
    </footer>

    <div class="message">
      <i class="fa fa-check"></i>
      <p>
        Thank you for your registration!
      </p>
    </div>
  <% end %>

</div>
<p class="note text-center">*目前暂未开放注册，只提供内部邀请.</p>