<header id="header">
  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="<%= asset_path("logo.png") %>" alt="MakeSlide"> </span>
        <!-- END LOGO PLACEHOLDER -->
  </div>
      <!-- projects dropdown -->
      <div id="project-context">

        <span class="label"></span>
        <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">最近的幻灯片 <i class="fa fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
          <% recent_slides.each do |slide| %>
              <li><%= link_to slide.title, slide_url(slide) %></li>
          <% end %>
        </ul>
        <!-- end dropdown-menu-->

      </div>
      <!-- end projects dropdown -->

      <!-- pulled right: nav area -->
      <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
          <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
          <span> <a rel="nofollow" href="<%= destroy_user_session_path %>" title="<%= t("common.logout") %>"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
          <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- input: search field -->
        <form action="/search" role="search" method="get" class="header-search pull-right">
          <input type="text" name="q" value="<%= params[:q] %>" placeholder="<%= t("common.search") %>" id="search-fld">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
          <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>
        <!-- end input: search field -->

      </div>
      <!-- end pulled right: nav area -->

</header>