<aside id="left-panel">

<!-- User info -->
<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
					
					<a href="<%= user_path(current_user.login.downcase) %>">
                      <%= user_avatar_tag(current_user,30,:link => false,:class => "online") %>
						<span>
							<%= current_user.name %>
						</span>
                      <i class="fa fa-angle-down"></i>
                    </a>
					
				</span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->
<nav>
<!-- NOTE: Notice the gaps after each icon usage <i></i>..
Please note that these links work a bit different than
traditional hre="" links. See documentation for details.
-->

<ul>
<li>
  <a href="<%= root_path %>" title="首页"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">首页</span></a>
</li>
<li>
  <a href="<%= notifications_path %>" title="通知提醒"><i class="fa fa-lg fa-fw fa-bell-o"></i> <span class="menu-item-parent">通知提醒</span><% if unread_notify_count !=0 %><span class="badge pull-right inbox-badge"> <%= unread_notify_count %> </span><% end %></a>
</li>
<li>
  <a href="<%= new_slide_url %>"><i class="fa fa-lg fa-fw fa-cloud-upload"></i> <span class="menu-item-parent"><%= t("slides.upload_slide") %></span></a>
</li>
<li>
  <a href="<%= slides_user_path(current_user.login.downcase) %>"><i class="fa fa-lg fa-fw fa-folder-open-o"></i> <span class="menu-item-parent">我的幻灯片</span></a>
</li>
<li>
  <a href="<%= collections_user_path(current_user.login.downcase) %>"><i class="fa fa-lg fa-fw fa-bookmark-o"></i> <span class="menu-item-parent">我的收藏</span></a>
</li>
<li>
  <a href="<%= home_explore_path %>"><i class="fa fa-lg fa-fw fa-star-o"></i> <span class="menu-item-parent">发现</span></a>
</li>
<li>
  <a href="<%= edit_user_registration_path %>"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">个人设置</span></a>
</li>
<% if admin? %>
<li>
    <a href="/cpanel"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="menu-item-parent"><%= t("menu.cpanel") %></span></a>
</li>
<% end %>

</ul>
</nav>

</aside>