<div class="activity">
    <div class="body">
        <div>
          <%= timeago(a.created_at) %>

          <div class="details">
            <div class="avatar"><%= user_avatar_tag(a.owner) %></div>
            <div class="title">
              <%= user_name_tag(a.owner) %>
              <%= content_for(:action) %>

            </div>
            <%= yield %>
          </div>

        </div>

    </div>
</div>