<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "front", "data-turbolinks-track" => true %>
  <%= yield :styles %>
  <% if mobile? %>
    <%= stylesheet_link_tag "mobile" %>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />
  <% end %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" />
  <%= raw SiteConfig.custom_head_html %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "app", "data-turbolinks-track" => true %>
</head>
<body>  
	<div id="wrap">
	<% if !orphan_navbar %>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="nav-header">
					<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-dashboard"></span> Make<span class="sec-brand">Slide.</span></a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<form role="search" class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" name="q" value="<%= params[:q] %>" placeholder="Search for..." class="form-control input-sm">
						 </div>
					</form>
					<%= render "common/user_nav" %>
				</div>
			</div>
		</nav>
		<%= notice_message %>   
		<%= yield %>
	<% else %>
		<div id="landing">
			<div class="header-image">
				<div class="container">
					<div class="auth-unit">
						<h3 class="text-brand"><span class="glyphicon glyphicon-dashboard"></span> Make<span class="sec-brand">Slide.</span></h3>
					 	<%= notice_message %>   
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	</div>
	<div id="footer">
		<div class="container">
			<%= raw SiteConfig.footer_html %>
		</div>
	</div>
  <script type="text/javascript">
		$(function () {
			$('.flexslider').flexslider({
				controlNav: false
			});
		});
	</script>
  <script type="text/javascript" data-turbolinks-eval=false>
    ROOT_URL = "<%= root_url %>";
    FAYE_SERVER_URL = "<%= Setting.faye_server %>";
    <% if current_user %>
      CURRENT_USER_ACCESS_TOKEN = "<%= current_user.temp_access_token %>";
    <% end %>
    if (FAYE_SERVER_URL) {
      App.initNotificationSubscribe();
    }
  </script>
  <%= yield :scripts %>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= Setting.google_analytics_key %>']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      <%= Garelic::Timing %>

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>
